*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:720px;
    margin:0 auto;
}
/*size-color*/
.size-color{
    color:rgb(252,79,2);
}
p{
    display: block;

}
.introducton,.advertis-ing,.misson-s,.vision-logo,.attitude-logo{
    letter-spacing: 10px;
}
.line{
    margin-top: 28px;
    width:135.8px;
    height:5.25px;
    background: rgb(252,79,2);
}
header,
.plann,
.advertising,
.misson,
.vision,
.values{
    position: relative;

    font-size: 3.5em;
    margin-top: 7px;
    font-weight:lighter;
}
/*品牌介绍*/
header p:nth-child(1){
    text-align: center;
    opacity: 0.3;
}
header p:nth-child(2){
    position: absolute;
    top:21px;
}
.Fline{
    left:12px;
}
.nav{
    margin-top: 63px;
    font-size: 1.15em;
    line-height: 35px;
}
.plann,.advertising{
    float: right;
}
/*品牌规划*/
.planning{
    margin-top:28px;
}
.Rline{
    position: absolute;
    right:12px;
}
.planns{
    position: absolute;
    margin-top:-0.28em;
    opacity: 0.3;
    right:-30px;
}
.bottle {
    font-size: 1.15em;
}
.bottle img{
    width: 100%;
    margin: 100px auto;
}
.bottle span{
    color: #000;
}
/*品牌态度*/
.attitude{
    position: relative;
    width:100%;
    height:770px;
    margin-top:126px;
}
.attitude p,
.values p{
    float: left;
    font-size: 3.5em;
    writing-mode: vertical-rl;
}
.Yline{
    height:135.8px;
    width:5.25px;
    background: rgb(252,79,2);
}
.attitude-logo{
    position: absolute;
    margin-left: 42px;
    margin-top: 24.5px;
    opacity: 0.3;
    font-weight:lighter;
}
.Rconent{
    position: absolute;
    float: left;
    right:0;
    width:542px;
}
.Rconent img{
    width:100%;
}
.Rconent p{
    writing-mode: horizontal-tb;
    font-size: 1.15em;
    line-height: 52.5px;
}
/*品牌理念*/
.advertising{
    width:100%;
    height:434px;
}
.advertising .advertis{
    position: absolute;
    margin-top: 21px;
    right:0;
}
.advertis-ing{
    position: absolute;
    right:0;
    opacity: 0.3;
}
.advertising p:nth-child(3){
    top:70px;

}
.pencil{
    position: absolute;
    left:0;
    margin-top: 80.5px;
}
.pencil img{
    width:148.4px;
    height:353.5px;
}
.idea{
    position: absolute;
    font-weight:normal;
    float: left;
    top:105px;
    line-height: 70px;
    right:-10px;
    width:504px;
    height:350px;
    text-align: center;
    font-size: 0.45em;
}
/*品牌使命*/
.misson{
    width:100%;
    height:530px;
    top: 49px;
    overflow: hidden;
}
.misson-s{
    opacity:0.3;
    margin-top:-49px;
    margin-left:14px;
}
.misson img{
    width:400px;
    height:266px;
    margin-top:35px;
    float: left;
}
.misson-size{
    position: absolute;
    height:360px;
    right:-3px;
    margin-top:35px;
    font-size:0.45em;
    writing-mode: vertical-rl;
    line-height: 45px;
}
/*品牌愿景*/
.vision{
    top:70px;
    height:350px;
}
.right{
    position: absolute;
    right:0;
}
.vision p{
    float: right;
    writing-mode: vertical-rl;
    overflow: hidden;
}
.vision-logo{
    margin-right: -46px;
    margin-top:40px;
    opacity: 0.3;
    float: right;
}
.vision img{
    margin-top:0;
    width:448px;
    height:148.4px;
}
.vision .vision-size{
    position: absolute;
    bottom:100px;
    writing-mode: horizontal-tb;
    font-size:0.45em;
}
/*价值观*/
.values{
    width:100%;
    font-size: 1em;
    top:49px;
    height:525px;
}
.values-conent{
    position: absolute;
    right:0;
    width:444px;
    height:100%;
}
.values img{
    width:100%;
}

.values-conent p{
    font-size: 1.15em;
    writing-mode: horizontal-tb;
    line-height: 52.5px;
}
.logo img{
    width:105px;
    height:67px;
}
.ewm{
    margin-top:26px;
    margin-bottom:12.2px;

}
.ewm img{
    width:105px;
    height:105px;
}
footer{
    width:100%;
    height:115px;
    font-size: 1em;
    text-align: center;
    line-height: 2.3em;
    font-weight: inherit;
}